.Drop-Down-Card{
    width: 100%;
    height: 100%;
    margin: 0%;
    border-radius: 5vh;

    padding: 5%;

    background-color: var(--clr-dark);

    display: grid;
    justify-content: center;
}
.Card-Div{
    display: grid;
    justify-content: center;
}

.Drop-Down-Card :hover {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
}

.Card-Title{
    color: var(--clr-accent);
    width: 100%;
    text-align: center;   
    margin-top: 1vh; 
    margin-bottom: 1vh; 

}

.Card-Img-Div{
    width: 90%;
    height: 25vh;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
}



.Card-Img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;

    border-radius: 1vh;
}

.Card-Dropdown{
    width: 100%;
}

.Text-Overline{
    height: 0.2vh;
    margin: auto;

    width: 80%;
    background-color: var(--clr-accent);
}

.Card-Text{
    color: var(--clr-accent);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    text-align: justify;

}