/* navbar*/
.Nav-Bar{
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    height: 5vh;

    position: fixed;
    opacity: 0.99;

  }
  
  .Nav-Name{
    margin: 0;
    width: 50%;
    display: flex;

    font-size: 3vh;

    color: var(--clr-accent);
  }
  
  .Nav-List{
    list-style-type: none;
    margin: 0;
    padding: 0;
     
  }
  
  .Nav-Item{
    float: left;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.5svw;
  }

  .Nav-Left,
  .Nav-Right{
    padding: 0.5rem;
    background-color: var(--clr-dark);
  

  }


  .My-Img-Div{
    border-radius: 50%;
    overflow: hidden;
    
    float: right;
    margin-right: 5px;

  }
  
  .My-Img{
    height: 4.5vh;
    width: 4.5vh;
    object-fit: cover;
    object-position: 0 -1%;


  }