.Drop-Down-Card{
    width: 100%;
    height: 100%;
    margin: 0%;
    border-radius: 10%;

    background-color: var(--clr-text);

    display: grid;
    justify-content: center;
}

.Card-Title{
    color: var(--clr-accent);
    width: 100%;
    text-align: center;   
    margin-top: 1vh; 
    margin-bottom: 1vh; 

}

.Card-Img-Div{
    width: 90%;
    height: 27vh;
    margin: 5%;
    align-content: center;

    border-radius: 15%;

    overflow: hidden;

}

.Card-Img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.Card-Dropdown{
    width: 100%;
}

.Text-Overline{
    height: 0.2vh;
    margin: auto;

    width: 80%;
    background-color: var(--clr-accent);
}

.Card-Text{
    color: var(--clr-accent);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    text-align: justify;

}