/*  intro  */

.Intro-Body{
    height: 100vh;
    display: flex;
    width: 100%;
    background-image: linear-gradient(var(--clr-dark),var(--clr-light));

  
  }
  
  .Intro-Content{
    display: grid;
  
    width: 100%;
    height: fit-content;
  
    align-self: center;
  }

  .Intro-Text-Div{
    align-self: center;
    height: 100%;
    align-content: center;

  }
  
  .Main-Type-Div{
    height: 7svw;
    color: var(--clr-dark);

    font-size: 6svw;
    font-family: var(--ff-secondary);
    font-weight:500;
  }
  
  .Sub-Type-Div{
    margin: 0%;
    height: 2.5svw;
    color: var(--clr-accent);

    font-size: 2svw;
    font-family: var(--ff-secondary);
    font-weight:500;

  }