*,
*::before
*::after {
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Tahoma', sans-serif;
    --ff-secondary: 'Courier New', monospace;

    --fw-reg: 300;
    --fw-half-bold: 600;
    --fw-bold: 900;

    --clr-bg: #ADB5BD;
    --clr-text: #040404;
    --clr-text-alt: #697179;
    --clr-accent: #0C7489;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
}

/*
@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2rem;
        --fs-body: 1.5rem;
    }
}*/

body{
    background: var(--clr-bg);
    color: var(--clr-text);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.3;
}

img{
    display: block;
    max-width: 100%;
}


[dark-mode = "true"]{
  --clr-accent: #D7D9CE;
  --clr-text-alt: #ADB5BD;
  --clr-bg: #040404;
  --clr-text: #0C7489;
} 

